.drag-zoom-containers {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.drag-zoom-containers > .drag-warp {
  position: absolute;
}
.drag-zoom-containers > .drag-warp > .img-container {
  width: 100%;
  height: 100%;
}
.drag-zoom-containers > .drag-warp .drag-zoom-items-containers {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.drag-zoom-containers > .scale-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 22px;
}
